header{
  background-color: #1c7572;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
}
div.user-img{
  width: fit-content;
  height: fit-content;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #18d26e;
}
div.user-detail{
  width: fit-content;
    padding: 0;
    display: inline-block;
    margin-left: .5em;
}
.col{
  display: flex;
}
img{
  width: 4em;
}
p{
  /* font-style: italic; */
text-align: left;
  margin: 0;
  font-size: 13px;
  text-transform: lowercase !important;

}
h5{
font-size: larger;
margin: 0;
text-align: justify;

}
.col.detail{
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  place-content: flex-end;
  place-items: center;
}
.form-control{
  display: inline-block;
  width: 200px;
  padding: 0px 12px;
  height: 35px;
  border-radius: .2rem 0 0 .2rem;
}
.btn-primary{
  height: 35px;
    padding: 0 10px;
    border-radius: 0 .2rem .2rem 0;
    border: none;
}
.col.search{
  padding-top: 1.4em;
}
.col.text-center{
  color: #fff;
  padding-left: 1em;
}
h1
{
  height: fit-content;
    margin-left: 1em;
    margin-top: .3em;
}
span{
  color: #18d26e;
}
