
hr{
  width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #18d26e;
}
hr.hr{
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(0,0,0,.2);
}
h3{
  font-size:1.4em ;
}
.form-control {
  background-color: #eee !important;
}
input:focus {
  border-color: transparent !important;
  border: none !important;
}
li:hover {
  cursor: pointer;
  background-color: #129b52;
  border-radius: 10px 0 0 10px;
}
.contact div.container{
  width: 100%;
}
.col.ck{
  padding-bottom: 0 !important;
    height: 2.6em !important;
}
.container.contain div.col {
  text-align: initial;
  padding-top: 1em;
  padding-bottom: 1em;
}

.container.contain {
  width: 55%;
}
.company-info h4 {
  font-size: 1.3em;
  color: #fff;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li,
ul {
  width: fit-content;
  margin: auto !important;
}
ul svg {
  fill: #fff !important;
  width: 5em;
}
/* #141414; */

.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact {
  background-color: #fff;
}
.contact div.col {
  padding: 0.5em 1em !important;
  height: 55px;
}
input {
  border: none !important;
  border-color: transparent !important;
  text-align: initial;
}
li.active,
li.active a svg,
li.active a div.acc h4 {
  fill: #18d26e !important;
  background-color: #fff;
  color: #18d26e !important;
  border-radius: 10px 0 0 10px;
}

/* LARGE SCREENS */
@media (min-width: 700px) {
  #borderLeft {
    border-left: 2px solid #444;
    position: absolute;
    top: 50.6%;
    bottom: 0;
    left: 0;
  }


  .wrapper {
    display: flex;
  }
  .company-info {
    height: max-content;
    width: min-content;
    border-radius: 8px 0 0 11px;
    background: #18d26e;
    border: 2px solid #444;
    border-right: none !important;
  }
  .wrapper > * {
    padding: 1em;
  }
  ul li a svg {
    padding-right: 0.6em;
    width: 5em;
  }

  ul,
  .company-info,
  h4 {
    padding: 0 !important;
    margin: 0 !important;
  }
  .company-info > h4 {
    width: max-content;
    padding: 1em !important;
    padding-bottom: 0 !important;

  }
  .acc h4 {
    width: max-content;
    padding-top: 1.5em !important;
  }
  div.acc {
    width: fit-content;
  }
  ul li a {
    display: flex;
    width: 10em;
  }
  ul li {
    width: 100%;
    padding: 0.7em 0 0.7em 2em;
  }
  ul#myTab {
    width: 100% !important;
  }

  /* .form-control */
  .contact {
    position: relative;
    border: 2px solid #444;
    border-left: none;
    border-radius: 0 8px 8px 0px;
  }

}
button.btn.btn-primary {
  padding: 0.6em 0em;
  width: 12em;
}
.row.bn,
col {
  padding: 0;
  width: fit-content !important;
  margin: auto !important;
}
