header h1 {
  padding: 3px;
  font-size: 0em;
  margin-bottom: 0em;
}
header h1 span {
  color: #18d26e;
}
.sticky {
  top: 0;
  width: 100%;
  position: fixed;
  transition: all 2s;
  background-color: #444!important;
  z-index: 999;
}
header{
  background-color: #444;
}
p,
h1,
li,
a {
  transition: all 0.5s;
  color: #fff !important;
  text-decoration: none !important;
}
a.nav-link.active,
a.nav-link:hover {
  color: #18d26e !important;
}
.nav-item.sgnup span{
  margin-right: .6em;
  border-left: 2px solid #18d26e;
}
.navbar-light .navbar-toggler {
  color: #fff;
}
