
.container-fluid{
  padding: 0;
  height: 100vh;
  display:grid;
  grid-template-areas:
  " header header"
  "sidenav main"
  "sidenav footer";
  grid-template-rows: 5em 1fr 4em;
  grid-template-columns: 15% 1fr;
}
.header{
grid-area: header;
}
.sidebar{
  grid-area: sidenav;
  background-color: #1c7572;
}
.main{
  grid-area: main;
  overflow-x: auto;
}
.footer{
  grid-area: footer;
  background-color: #fff;
}
