/* You can add global styles to this file, and also import other style files #ecf7e9 #f3f8fa*/
/* 'Sen' */
@import url('https://fonts.googleapis.com/css?family=Baloo+2|Baloo+Thambi+2|Poppins|Sen&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  text-transform: capitalize !important;

}
[disabled]:hover{
  cursor: not-allowed;
  }
body {
  background-color: #ecf7e9 !important;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  overflow-x: hidden;
  line-height: 1.625;
  color: #666;
}
button.btn.btn-primary{
  background-color: #18d25c !important;
  border-color: #18d26e !important;
  box-shadow: none !important;
}
button.btn.btn-primary:hover{
  background-color: #129b52 !important;
  border-color: #129b52 !important;
  box-shadow: none !important;
}
input, input:hover, input:focus{
  box-shadow: none;
}
a{
  color: #fff !important;
}
a:hover{
  color: #18d26e;
}
a.a{
  color: #18d26e !important;
    text-decoration: underline !important;
}
a.a:hover{
  color: #444 !important;
}
.form-control:focus{
  border-color: #18d26e;
  outline: 0;
  -webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px #18d26e !important; ;
  box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px #18d26e !important;;
  outline:  0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px #18d26e !important;;
}
textarea:focus,
select:focus,
select:active,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #18d26e !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px #18d26e !important;
  outline: 0 none;
}
.error{
  color: #ff0000;
}
